<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Entools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Revit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Entools.Properties.Settings>
      <setting name="pipes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipesf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipesa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathim" serializeAs="String">
        <value>C:\Users\USER\Desktop\import.txt</value>
      </setting>
      <setting name="pathex" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Revit\Addins\2019\credentials.json</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="list_syst" serializeAs="String">
        <value />
      </setting>
      <setting name="plumbing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="accecory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fitting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="insulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flex" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="counter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TD" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="worksetvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="viewsvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="linksvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="purgevar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cadvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="listvar" serializeAs="String">
        <value />
      </setting>
      <setting name="spname1" serializeAs="String">
        <value>_entools1</value>
      </setting>
      <setting name="spname2" serializeAs="String">
        <value>_entools2</value>
      </setting>
      <setting name="spname3" serializeAs="String">
        <value>_entools3</value>
      </setting>
      <setting name="spname4" serializeAs="String">
        <value>_entools4</value>
      </setting>
      <setting name="spname5" serializeAs="String">
        <value>_entools5</value>
      </setting>
      <setting name="spname6" serializeAs="String">
        <value>_entools6</value>
      </setting>
      <setting name="spname7" serializeAs="String">
        <value>_entools7</value>
      </setting>
      <setting name="spname8" serializeAs="String">
        <value>_entools8</value>
      </setting>
      <setting name="koefPipe" serializeAs="String">
        <value>1.1</value>
      </setting>
      <setting name="koefInsulation" serializeAs="String">
        <value>1.1</value>
      </setting>
      <setting name="eworkset" serializeAs="String">
        <value />
      </setting>
      <setting name="spname9" serializeAs="String">
        <value>_entools9</value>
      </setting>
      <setting name="spname10" serializeAs="String">
        <value>_entools10</value>
      </setting>
      <setting name="defaults" serializeAs="String">
        <value />
      </setting>
      <setting name="sheet" serializeAs="String">
        <value>10w09O74fI850L90qkDf02NkNvN297LdnwjNJE4jQ_zE</value>
      </setting>
      <setting name="jsonn" serializeAs="String">
        <value>C:\ProgramData\Autodesk\ApplicationPlugins\Entools.bundle\Contents\credentials.json</value>
      </setting>
      <setting name="exportRevit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="exportGs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="broom_names" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_pi1" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_pi1_1" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el2" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el2_2" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el3" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el3_3" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_rule" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ch_ma_el4" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el4_4" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el5" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el5_5" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el6" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el6_6" serializeAs="String">
        <value />
      </setting>
      <setting name="mq_check" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="itemGroup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemMechanical" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemPlumbing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemPipe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="item_insul" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="item_pipfit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="item_pipacc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="item_flex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemw_pipe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="itemw_pipe_insul" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="reapset" serializeAs="String">
        <value />
      </setting>
      <setting name="clash_links" serializeAs="String">
        <value />
      </setting>
      <setting name="num_par" serializeAs="String">
        <value />
      </setting>
      <setting name="num_prefix" serializeAs="String">
        <value />
      </setting>
      <setting name="num_suffix" serializeAs="String">
        <value />
      </setting>
      <setting name="num_first" serializeAs="String">
        <value />
      </setting>
      <setting name="item_par2" serializeAs="String">
        <value>SPE_Name_Technical_characteristic</value>
      </setting>
      <setting name="item_par3" serializeAs="String">
        <value>SPE_Type_Mark_InquiryDataSheet</value>
      </setting>
      <setting name="item_par4" serializeAs="String">
        <value>SPE_EquipmentCode</value>
      </setting>
      <setting name="item_par5" serializeAs="String">
        <value>SPE_Production_plant</value>
      </setting>
      <setting name="item_par6" serializeAs="String">
        <value>SPE_Measurement_units</value>
      </setting>
      <setting name="item_par7" serializeAs="String">
        <value>SPE_Unit_weight</value>
      </setting>
      <setting name="item_par8" serializeAs="String">
        <value>SPE_SortingSection</value>
      </setting>
      <setting name="num_dir1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="num_dir2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="num_dir3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="num_dir4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="num_reload" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="revision_h" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="clash_thickness" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="pipes_union1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_union2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_union3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_revision" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_split" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_tee" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_tee_h" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="pipes_cross" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_cross_h" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="pipes_tee_angle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_revision_host" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_tee_host" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pipes_cross_host" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="exportExcel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="templateExcel" serializeAs="String">
        <value />
      </setting>
    </Entools.Properties.Settings>
    <Revit.Properties.Settings>
      <setting name="pipes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipesf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipesa" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pathim" serializeAs="String">
        <value>C:\Users\USER\Desktop\import.txt</value>
      </setting>
      <setting name="pathex" serializeAs="String">
        <value>C:\ProgramData\Autodesk\Revit\Addins\2019\credentials.json</value>
      </setting>
      <setting name="ID" serializeAs="String">
        <value />
      </setting>
      <setting name="list_syst" serializeAs="String">
        <value />
      </setting>
      <setting name="plumbing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="accecory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="fitting" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="pipe" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="insulation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="flex" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="counter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TD" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="worksetvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="viewsvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="linksvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="purgevar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="cadvar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="listvar" serializeAs="String">
        <value />
      </setting>
      <setting name="spname1" serializeAs="String">
        <value>_entools1</value>
      </setting>
      <setting name="spname2" serializeAs="String">
        <value>_entools2</value>
      </setting>
      <setting name="spname3" serializeAs="String">
        <value>_entools3</value>
      </setting>
      <setting name="spname4" serializeAs="String">
        <value>_entools4</value>
      </setting>
      <setting name="spname5" serializeAs="String">
        <value>_entools5</value>
      </setting>
      <setting name="spname6" serializeAs="String">
        <value>_entools6</value>
      </setting>
      <setting name="spname7" serializeAs="String">
        <value>_entools7</value>
      </setting>
      <setting name="spname8" serializeAs="String">
        <value>_entools8</value>
      </setting>
      <setting name="koef_p" serializeAs="String">
        <value>1.1</value>
      </setting>
      <setting name="koef_i" serializeAs="String">
        <value>1.1</value>
      </setting>
      <setting name="eworkset" serializeAs="String">
        <value />
      </setting>
      <setting name="spname9" serializeAs="String">
        <value>_entools9</value>
      </setting>
      <setting name="spname10" serializeAs="String">
        <value>_entools10</value>
      </setting>
      <setting name="defaults" serializeAs="String">
        <value />
      </setting>
      <setting name="sheet" serializeAs="String">
        <value />
      </setting>
      <setting name="jsonn" serializeAs="String">
        <value>C:\ProgramData\Autodesk\ApplicationPlugins\Entools.bundle\Contents\credentials.json</value>
      </setting>
      <setting name="revit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="broom_names" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_pi1" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_pi1_1" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el2" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el2_2" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el3" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el3_3" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_rule" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ch_ma_el4" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el4_4" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el5" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el5_5" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el6" serializeAs="String">
        <value />
      </setting>
      <setting name="ch_ma_el6_6" serializeAs="String">
        <value />
      </setting>
      <setting name="mq_check" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="in_group" serializeAs="String">
        <value>False</value>
      </setting>
    </Revit.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.36.0.0" newVersion="1.36.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>